import type { Db } from '@shared/db/client';
import type { TransactionManager } from '@shared/db/transaction';
import type { EventBus } from '@shared/events/event-bus';
import type { Logger } from '@shared/observability/logger';
import type { Clock } from '@/container';
import type { __Feature__Repository } from '../repository/__feature__.repository';
import type { __Feature__ReadModel } from '../repository/__feature__-read-model';
import {
  create__Feature__Command,
  type Create__Feature__Command,
} from './commands/create-__feature__.command';
import {
  update__Feature__Command,
  type Update__Feature__Command,
} from './commands/update-__feature__.command';
import {
  get__Feature__ByIdQuery,
  type Get__Feature__ByIdQuery,
} from './queries/get-__feature__-by-id.query';
import {
  list__Features__Query,
  type List__Features__QueryRequest,
} from './queries/list-__features__.query';

export type __Feature__UseCasesDeps = {
  createRepo: (db: Db) => __Feature__Repository;
  readModel: __Feature__ReadModel;
  tx: TransactionManager;
  eventBus: EventBus;
  logger: Logger;
  clock: Clock;
};

export const create__Feature__UseCases = (deps: __Feature__UseCasesDeps) => ({
  create: (command: Create__Feature__Command) => create__Feature__Command(deps, command),
  update: (command: Update__Feature__Command) => update__Feature__Command(deps, command),
  getById: (query: Get__Feature__ByIdQuery) =>
    get__Feature__ByIdQuery({ readModel: deps.readModel }, query),
  list: (query: List__Features__QueryRequest) =>
    list__Features__Query({ readModel: deps.readModel }, query),
});
