import type { __Module__Insert, __Module__Row } from '@shared/db/schema';
import { __Module__ } from '../domain/__module__.entity';

export const __Module__Mapper = {
  toDomain(row: __Module__Row): __Module__ {
    return __Module__.rehydrate({
      id: row.id,
      name: row.name,
      status: row.status,
      createdAt: row.createdAt,
      updatedAt: row.updatedAt,
    });
  },

  toPersistence(entity: __Module__): __Module__Insert {
    return {
      id: entity.id,
      name: entity.name,
      status: entity.status,
      createdAt: entity.createdAt,
      updatedAt: entity.updatedAt,
    };
  },
};
